html, body{
    min-height: 100%;
    height: 0px; //for some reason min-height doesn't work for body without this.
}

//footer trick
body{ 
    display:flex; 
    flex-direction:column; 
  }
  
  #footer{
    margin-top:auto; 
  }
//end footer trick

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#header, #footer{
    width: 100%;
    display: inline-block;
}

img{
    height: 100%;
    width: auto;
}

#logo{
    height: 80px;
}

.floatLeft{
    float:left;
}

.floatRight{
    float:right;
}

#mainAuthentication{
    width: 50%;
    margin: auto;
}
#formResetPassword{
    margin-top:20px;
}

.appbarText{
    margin: auto 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.appbarElement{
    height: 100%;
}