*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    min-height: 100%;
    height: 0px; //for some reason min-height doesn't work for body without this.
}

img{
    height: 100%;
    width: auto;
}

@import "./fragments/appbar.scss";
@import "./fragments/footer.scss";
@import "./fragments/header.scss";

@import "./pages/login.scss";
@import "./pages/register.scss";
@import "./pages/reset_password.scss";