.profileMain{
	height: 90%;
	width: 100%;
	overflow-y: auto;
}

.profileImg{
	min-width: 200px;
	max-width: 400px;
	width: 75%;
	height: auto;
}

.itemList{
	margin-inline-start: 20px;
	margin-inline-end: 10px;
}