<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="http://kendo.cdn.telerik.com/2021.2.616/js/kendo.all.min.js"></script>
	<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2021.2.616/styles/kendo.common.min.css">
	<link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-bootstrap/dist/all.css" />
	<title>Header</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<th:block th:fragment="header">
		<div id="header" data-role="appbar" class="k-appbar k-appbar-top k-appbar-sticky k-appbar-light">
			<div class="k-appbar-section floatLeft appbarElement">
				<a href="/index"><img id="logo" src="/images/logo.png" alt="Logo"></a>
			</div>
			<div class="k-appbar-section floatLeft appbarElement">
				<a class="appbarText" href="/profile">Profile</a>
			</div>
			<div th:if="${#authorization.expression('hasAuthority(''READ_PROFILES'')')}" class="k-appbar-section floatLeft appbarElement">
				<a class="appbarText" href="/users">Users</a>
			</div>
			<div th:if="${#authorization.expression('hasAuthority(''READ_GROUPS'')')}" class="k-appbar-section floatLeft appbarElement">
				<a class="appbarText" href="/groups">Groups</a>
			</div>
			<div th:if="${#authorization.expression('hasAuthority(''READ_PRIVILEGES'')')}" class="k-appbar-section floatLeft appbarElement">
				<a class="appbarText" href="/privileges">Privileges</a>
			</div>
			<div class="k-appbar-section floatRight appbarElement">
				<th:block sec:authorize="isAuthenticated()">
					<a href="/perform_logout"><button id="btnLogin" class="k-primary" data-role="button">Log out</button></a>
				</th:block>
				<th:block  sec:authorize="isAnonymous()">
					<a href="/login"><button id="btnLogin" class="k-primary" data-role="button">Log in</button></a>
				</th:block>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/header.js}"></script>
	</th:block>
</body>

</html>